@page "/jogosdata"
@inject HttpClient Http

@if (Main == null)
{
    <p>Erro ao chamar a API (ou limite de 10 requests atingido)</p>
}
else
{
    <div class="mb-2 p-3">
        Escolha a Liga que pretende analisar:
        <select class="form-control" @bind="League" @onclick="@GetDataAsync">
            <option selected disabled value="-1"> Liga</option>
            <option value=PPL> Primeira Liga Portuguesa</option>
            <option value=PL> Premier League</option>
            <option value=BL1> Bundesliga</option>
            <option value=PD> La Liga</option>
        </select>
    </div>

    <div class="mb-2 p-3">
        Data do Jogo que pretende observar:
        <input type="date" value="@Date.ToString(dateFormatString)"
               format-value="@dateFormatString" @onchange="OnDateChanged" />
    </div>



    if (Main.matches.Count == 0)
    {
        <p> Não existem jogos para esta data. </p>
    }
    else
    {



        <table class="table">
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Status</th>
                    <th>Equipa1</th>
                    <th>Resultado</th>
                    <th>Equipa2</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var match in Main.matches)
                {
                    <tr>
                        <td>@match.utcDate.TimeOfDay</td>
                        <td>@match.status</td>
                        <td>@match.homeTeam.name </td>
                        <td>@match.score.fullTime.homeTeam - @match.score.fullTime.awayTeam</td>
                        <td>@match.awayTeam.name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

